* {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 10px 8px;
}

.item {
    background: lightcoral;
    padding: 10px;
    border: 1px solid blackS;S
}