* {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: grid;
    grid-template: 150px 1fr 50px / 1fr;
    grid-template-areas: "header" "content" "footer";
    gap: 5px;
    height: 100vh;
}

.item {
    border: 1px solid black;
}

.header {
    grid-area: header;
    background-color: darkblue;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-area: footer;
    background-color: darkblue;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 600px;
}

.formulario-fila {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}

.formulario-fila > label {
    padding: .5em 1em .5em 0;
    flex: 1;
    text-align: right;
}

.formulario-fila > input {
    flex: 2;
}

.formulario-fila > input , .formulario-fila > button {
    padding: .5em;
}

.formulario-fila > button {
    background: gray;
    color: white;
    border: 0px;
}